
.box-shadow-1 {
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
}

.box-shadow-2 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.box-shadow-3 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.box-shadow-4 {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3)
}

// Blockquotes
.blockquote-v1 {
  padding: 0 $spacer;
  border-left: 0.25em solid $gray-200;
  margin-bottom: $spacer;
  font-size: 16px;
  color: $gray-600;
  font-weight: 300;
  > :first-child {
    margin-top: 0;
  }
}

body {
  font-size: 1rem;
}

