
.headline {
  display: block;
  margin: 20px 0 20px 0;
  border-bottom: 1px dotted #e4e9f0;

  > .title {
    margin: 0 0 -2px 0;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 3px solid theme-color("secondary");
    a {
      color: #333;
    }
  }

  &.is-primary {
    > .title {
      border-bottom: 3px solid theme-color("primary");
    }
  }

  &.is-success{
    > .title {
      border-bottom: 3px solid theme-color("success");
    }
  }

  &.is-info{
    > .title {
      border-bottom: 3px solid theme-color("info");
    }
  }

  &.is-danger{
    > .title {
      border-bottom: 3px solid theme-color("danger");
    }
  }

  &.is-warning{
    > .title {
      border-bottom: 3px solid theme-color("warning");
    }
  }
}

//
// headline v2
//

.headline-v2 {
  display: block;
  //background: #fff;
  padding: 1px 10px;
  margin: 0 0 20px 0;
  border-left: 3px solid theme-color("secondary");

  > .title {
    color: #000;
    margin: 3px 0;
    font-weight: 200;
  }

  > .description {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
  }

  &.is-primary {
    border-left: 3px solid theme-color("primary");
  }
  &.is-success {
    border-left: 3px solid theme-color("success");
  }
  &.is-info {
    border-left: 3px solid theme-color("info");
  }
  &.is-danger {
    border-left: 3px solid theme-color("danger");
  }
  &.is-warning {
    border-left: 3px solid theme-color("warning");
  }
}

//
// headline v3
//
.headline-v3 {
  text-align: center;
  margin-bottom: 20px;

  > .title {
    color: theme-color("secondary")
  }

  > .description {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
  }
}